.navbar{
    background-color:burlywood;
    min-height:6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;

}
.button{
    background-color: transparent;
    color:rgb(215, 17, 50);
    font-size:20px;
    border-width:0px;

}
